{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />

    <title>Persona Team</title>
    <!--
    Reflux Template
    https://templatemo.com/tm-531-reflux
    -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}" />
    <style>
      .snip1321 img {
        width: 500px;
        height: 500px;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{% static 'assets/images/pp.jpeg' %}" alt="" /></a>
            </div>
            <div class="author-content">
              <h4>Persona Team</h4>
              <span>Kelompok 4</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">Our Team</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://www.facebook.com/marketplace/item/1554194292177068"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>Kelas Praktisi Adsis D</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section -->
      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>TEAM</h2>
            <div class="line-dec"></div>
            <span>Kelompok 4 Adsis</span>
          </div>
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbar">
                <label>
                  <input type="radio" data-type="*" checked="" name="isotope-filter" />
                  <span>All</span>
                </label>
                <label>
                  <input type="radio" data-type="ui/ux" name="isotope-filter" />
                  <span>UI/UX</span>
                </label>
                <label>
                  <input type="radio" data-type="fe" name="isotope-filter" />
                  <span>FE</span>
                </label>
                <label>
                  <input type="radio" data-type="be" name="isotope-filter" />
                  <span>BE</span>
                </label>
                <label>
                  <input type="radio" data-type="pm" name="isotope-filter" />
                  <span>PM</span>
                </label>
                <label>
                  <input type="radio" data-type="devops" name="isotope-filter" />
                  <span>DevOps</span>
                </label>
              </form>
              <div class="isotope-box">
                <div class="isotope-item" data-type="ui/ux">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/azar.jpeg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/azar.jpeg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Azhar Bazuri</h4>
                      <span>UI/UX Designer</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="fe">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/satria.jpeg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/satria.jpeg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Satria Mahakenthir</h4>
                      <span>Front End Dev</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="be">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/tio.jpeg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/tio.jpeg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Satrio Ajinomoto</h4>
                      <span>Back End Developer</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="devops">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/zidan.jpeg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/zidan.jpeg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Zidane Elfasya</h4>
                      <span>DevOps</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/willy.jpg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/willy.jpg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Willy Salim</h4>
                      <span>Cloud Administrator</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="ui/ux">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/tata.png' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/tata.png' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Tata Agus</h4>
                      <span>CEO</span>
                    </figcaption>
                  </figure>
                </div>
                <div class="isotope-item" data-type="pm">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/titi.jpg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/titi.jpg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>titi kustantina</h4>
                      <span>product Manager</span>
                    </figcaption>
                  </figure>
                </div>
                <div class="isotope-item" data-type="fe">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/Nada.jpg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/Nada.jpg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Avfia Nada</h4>
                      <span>Front End Dev</span>
                    </figcaption>
                  </figure>
                </div>
                <div class="isotope-item" data-type="pm">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/Syifa.jpg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/Syifa.jpg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Hidayatus Syifa</h4>
                      <span>Product Manager</span>
                    </figcaption>
                  </figure>
                </div>
                <div class="isotope-item" data-type="fe">
                  <figure class="snip1321">
                    <img src="{% static 'assets/images/Arsyi.jpeg' %}" alt="sq-sample26" />
                    <figcaption>
                      <a href="{% static 'assets/images/Arsyi.jpeg' %}" data-lightbox="image-1" data-title="Caption"><i class="fa fa-search"></i></a>
                      <h4>Arsyika Prabowo</h4>
                      <span>Front End Dev</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
